{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <div class="row text-center mt-3">

        <div class="col-12">
            <h3>Где мы находимся</h3>
        </div>


        <div class="col-xs-12 col-sm-4 mb-2">
            <h5>Адрес</h5>
            <address style="font-size: 125%;">
                город Дзержинск <br>
                проспект Чкалова, дом 22 <br>
                магазин "Бристоль"
            </address>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h5>Мы на карте</h5>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A31122305204f8598d5e9c1918369c84b1a967e4c12b8e93f83b1e9cb55719499&amp;source=constructor"
                    width="100%" height="200" frameborder="0"></iframe>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 mt-xl-4">
            <img src="{% static 'main/img/panoram.webp' %}" alt="#" class="img-fluid img-panoram">
        </div>
    </div>
{% endblock %}